
body{
    background-color:rgb(235, 235, 235);
    height:100vh;

}
.register{
    width: 400px;
    margin-top: 60px;;
    height:auto;
    background-color: rgb(255, 255, 255);
    box-shadow:  0 -3px 0 0 rgb(245, 180, 2);
}
.button{
    background-color:rgb(245, 180, 2);
   border: none;
   margin-top:10px;
}
.form{
    padding:0 0 15px 30px;
}
.h2{
    padding-top:20px;
    padding-bottom:20px;
}



