<!DOCTYPE html>
<html lang="html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register form</title>
</head>
<body>
    
</body>
</html>
<!DOCTYPE html>
           
<head>

    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel='stylesheet' href='<?php echo base_url('assets/css/register.css');?>'/>
    
</head>

<body>

    <div class="container register">

    <h2 class=' text-center h2'>Responsive Registration Form</h2>
            
    
        <form class='row form '>
        
            
            <div class='form'>
           
            <p>
                <input type='email' class='col-10' name='email' placeholder='Email' required/>
            </p>
        
            <p>
                <input type='password' class='col-10' name='Password' placeholder='Password' required/>
            </p>
          
            <p>
                 <input type='password' class='col-10' name='re-type-password' placeholder='Re-Type-password' required/>
            </p>

            <p>
                <input type='text' class='col-5' name='first-name' placeholder='First-Name' required/>
    
                <input type='text' class='col-5' name='last-name' placeholder='Last-Name' required/>
            </p>

            <p>
                <label>
                    <input type='radio'  name='gender'/> Male
                </label>
               
                <label> 
                    <input type='radio' name='gender'/> Female
                </label>

            </p>
           
            <p>
                <select class='col-10'>
                    <option >India</option>
                    <option>America</option>
                    <option>pakishtan</option>
                    <option>country n</option>
                </select>
             </p>
       
            <p>
                <input type='checkbox' /> I agree terms and conditions<br><br>
                <input type='checkbox' /> I want to receive the newsletter
            </p>
           
            <p>
                 <button class='col-10 btn btn-primary button'type='submit'>Register</button>
             </p>
             </div>
            
        </form>

    
    </div>

    
</body>

</html>